.post{
  margin: 15px 20px;
  padding: 15px 15px 15px 40px;
  max-width: $breakpoint-tablet;
  border-bottom: solid 1px $color-sidebar;
  
  &:nth-child(odd){
    .entry-title{
      h1, h2{
        &:first-letter{
          font-size: 2em;
          color: $color-first-letter;
        }
      }
    }
  }
  &:nth-child(even){
    .entry-title{
      h1, h2{
        &:first-letter{
          font-size: 2em;
          color: $color-first-letter2;
        }
      }
    }
  }
  .entry-title{
    color: black;
    h1, h2{
      &:hover{
        color: $color-link;
        &::first-letter{
          color: $color-link;
        }
      }
    }
  }
  
  .entry-date{
    padding: 0.25em 0.5em;
    margin-bottom: 0.5em;
    color: $color-background;
    background-color: $color-sidebar;
    border-radius: 5px;
    float: right;
  }
  @include max-screen($breakpoint-tablet){
    margin: 15px 0px;
    padding: 15px 15px;
  }
}

.archive{
  .entry-title{
    h1, h2{
      margin: 0;
      padding: 0;
    }
    float:left;
    border: none;
  }
}